[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/dr_libs"]
	path = include/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/openal-soft"]
	path = include/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "include/sml"]
	path = include/sml
	url = https://github.com/boost-ext/sml.git
[submodule "include/qc-hash"]
	path = include/qc-hash
	url = https://github.com/Daskie/qc-hash.git
[submodule "include/reflect"]
	path = include/reflect
	url = https://github.com/boost-ext/reflect.git
[submodule "include/glaze"]
	path = include/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "include/llfio"]
	path = include/llfio
	url = https://github.com/ned14/llfio.git
[submodule "include/alpaca"]
	path = include/alpaca
	url = https://github.com/p-ranav/alpaca.git
[submodule "include/dds_image"]
	path = include/dds_image
	url = https://github.com/spnda/dds_image.git
[submodule "include/tiny_ktx"]
	path = include/tiny_ktx
	url = https://github.com/DeanoC/tiny_ktx.git
[submodule "include/sol2"]
	path = include/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/parallel-hashmap"]
	path = include/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "include/VulkanMemoryAllocator-Hpp"]
	path = include/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
[submodule "include/dynamic_bitset"]
	path = include/dynamic_bitset
	url = https://github.com/pinam45/dynamic_bitset.git
[submodule "include/Nuklear"]
	path = include/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "include/msdfgen"]
	path = include/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "include/msdf-atlas-gen"]
	path = include/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
